<div class="video">
  <%= video_tag("/assets/videos/top-video.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content', style: "width:100%;") %>
  <h1 class="top-title">
    <a>Virtual Reality Photo Post</a>
  </h1>
  <div class="sub">
    皆さんの"仮想記録"を共有しませんか？
  </div>
</div>