// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .p-head {
//   width: 100%;
//   height: 120px;
//   margin: 30px;
//   padding: 30px;
// }

// .p-user {
//   width: 100%;
//   height: 100px;
// }

//.p-item {
  //font-size: 30px;
  //display: inline;
  //margin: 45px;
//}

//.p-item-tag  {
  //font-size: 20px;
  //display: inline;
  //text-align: center;
  //margin-left: 10px;
  //margin-right: 10px;
//}

//.p-item-day {
  //font-size: 20px;
  //display: inline;
 // margin: 40px;
//}


.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}

.box1 p {
  margin: 0;
  padding: 0;
}

