<div>
  <p><%= image_tag user.get_profile_image(400,400),class: "rounded"%></p>
  <div>
    <div>
      <h4 class="fw-light">
        <%= user.name %>
      </h4>
      <h6 class="fw-light">
        <%= user.Introduction%>
      </h6>
      <% if user_signed_in? && current_user.id == @user.id %>
        <p><%= link_to "マイページを編集する", edit_user_path(current_user) %></p>
      <% end %>
    </div>
  </div>
</div>