<div class="row py-lg-8">
  <p><%= image_tag user.get_profile_image(400,400) %></p>
  <div class="col-lg-6 col-md-8 mx-auto">
    <div class="justify-content: center;">
      <h4 class="fw-light">
        <%= user.name %>
      </h4>
      <p class="lead text-muted">
        <h6><%= user.Introduction%></h6>
      </p>
    </div>
  </div>
</div>