<table>
  <tr>
    <th><div class="d-flex align-items-center justify-content-center">
      <%= image_tag user.get_profile_image(100,100) %>
    </div></th>
  </tr>
  <tr>
    <th><div class="mt-3 d-flex align-items-center justify-content-center">
      <%= user.name %>
    </div></th>
  </tr>
  <tr>
    <th><div class="mt-3 d-flex align-items-center justify-content-center">
      <%= user.Introduction%>
    </div></th>
  </tr>
</table>